body {
  background-color: #f9fafb;
  color: #333;
}

.container {
  display: flex;
  margin: 50px 0;
}

.first-card {
  box-shadow: 10px 10px 46px -17px rgba(23, 23, 23, 0.2);
  background-color: white;
  text-align: center;
  margin: 20px 20px;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
}

img {
  width: 60px;
}
